section.about{
    padding: 2rem 2rem;
    padding-top: 0;
    animation: fadeIn ease 2s;
}

section.about .header{
    display: flex;
    justify-content: center;
}

section.about .header img{
    transform: scale(0.75);
    vertical-align: bottom;
}

section.about .header p.title{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
    transform: translateY(7px);
    text-align: center;
}

section.about .content{
    margin-top: 2.5rem;
    padding: 0 4rem;
}

section.about .content .grid{
    display: flex;
    gap: 4rem;
}

section.about .content .grid .pfp img{
    width: 100%;
    vertical-align: bottom;
    
}


section.about .content .grid .detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.about .content .grid .detail p{
    margin: 0;
    display: inline-block;
}

section.about .content .grid .detail .name{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 7.2px;
}

section.about .content .grid .detail .career{
    font-family: 'poppins', serif;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2rem;
    color: #aeaeae;
    padding-top: 0.4rem;
}

section.about .content .grid .detail .description{
    font-family: 'poppins', serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 2rem;
    margin-top: 4rem;
}

@media (max-width: 900px){
    section.about .content{
        padding: 0;
    }
}

@media (max-width: 670px){
    section.about .header img:first-child{
        transform: scale(0.4) translateX(8rem);
    }
    section.about .header img:last-child{
        transform: scale(0.4) translateX(-8rem);
    }
}

@media (max-width: 420px){
    section.about .content .grid{
        gap: 2rem;
    }
}

