section.experience{
    padding: 0 2rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    animation: fadeIn ease 2s;
}

section.experience .header{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

section.experience .header p.title{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
    transform: translateY(7px);
    text-align: center;
}

section.experience .header img{
    transform: scale(0.75);
    vertical-align: bottom;
}

section.experience .content .box{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.experience .content .year p{
    font-family: 'Playfair Display', serif;
    font-size: 96px;
    font-weight: 400;
    letter-spacing: 48px;
    text-align: right;
    margin: 2rem;
    margin-right: 5rem;
}

section.experience .content .events{
    width: 50%;
}

section.experience .content .events p{
    font-family: 'poppins', serif;
    font-size: 13px;
    font-weight: 300;
    margin: 2rem 0;
    line-height: 2rem;
    width: 50%;
    word-wrap: break-word;
    letter-spacing: 0.8px;
}

section.experience .content .year{
    width: 50%;
}

@media (max-width: 670px){
    section.experience .header img:first-child{
        transform: scale(0.4) translateX(8rem);
    }
    section.experience .header img:last-child{
        transform: scale(0.4) translateX(-8rem);
    }
}

@media (max-width: 1220px){
    section.experience .content .events p{
        width: 80%;
    }
}

@media (max-width: 460px){
    section.experience .content .year p{
        font-size: 65px; 
    }
}

@media (max-width: 410px){
    section.experience{
        padding-top: 0rem;
        padding-bottom: 1rem;
    }
    section.experience .header img:first-child{
        display: none;
    }
    section.experience .header img:last-child{
        display: none;
    }
}

@media (max-width: 380px){
    section.experience .content .year p{
        font-size: 55px; 
    }
}




