div.hero .bg img{
    height: 60vh;
    width: 100%;
    object-fit:cover;
    vertical-align: bottom;
    animation: fadeIn ease 2s;
}

.hero .content{
    max-width: 1440px;
    margin: auto;
    display: flex;
    max-height: 400px;
    animation: fadeIn ease 1s;
}

.hero .content .img{
    padding: 2rem;
    border-radius: 10px;
    display: inline-block;
    transform: scale(0.75);
    transform: translateY(-6.5rem);
}

.hero .content .img2{
    transform: translateY(-1rem);
    transform: scale(0.5);
    width: 50%;
}

@media (max-width: 1275px){

    .hero .content{
        max-height: 300px;
    }

    .hero .content .img2{
        display: none;
    }
}

@media (max-width: 727px){
    .hero .content{
        margin: auto;
        height: auto;
        display: flex;
        justify-content: center;
        max-height: 210px;
    }
    .hero .content .img{
        transform: scale(0.75) translateY(-12rem);
    }
}

@media (max-width: 550px){
    .hero .content .img{
        transform: scale(0.65) translateY(-12rem);
    }
}

@media (max-width: 480px){
    .hero .content .img{
        transform: scale(0.55) translateY(-12rem);
    }
    div.hero .bg img{
        height: 40vh;
    }
}

@media (max-width: 412px){
    .hero .content .img{
        transform: scale(0.46) translateY(-12rem);
    }
    .hero .content{
        max-height: 170px;
    }
}